<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100&display=swap" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<!-- <div class="container"> -->
  <div class="item">
    <img src="https://cdn.shopify.com/s/files/1/0418/3723/2292/files/LuxeNights_769da7ba-6aca-4c76-b808-89ac74befa93_2048x.jpg?v=1626385287" alt="" class="bg_img" />
    <div class="text_wrapper">
      <div class="text_position">
        <h2 class="item--title">New Collection</h2>
        <p class="item--text">Reimagined, timeless fine jewelry designed and crafted in the heart of New York City. Each piece is handmade in 18-karat gold, platinum, and ethically-sourced, genuine diamonds ensuring that your Jade Trau piece will shine on for generations to come.</p>
        </div>
    </div>
    <button>Explore</button>
  <!-- </div> -->

  <!-- <div class="item">
    <img src="https://cdn.shopify.com/s/files/1/0418/3723/2292/files/LuxeNights_-_Harlow_795c5334-d9fc-487f-9a6f-5feb9b50d854_2048x.jpg?v=1626386252" alt="" class="bg_img" />
    <div class="text_wrapper">
      <div class="text_position text_position-left">
        <h2 class="item--title item--title-left">Item Title</h2>
        <p class="item--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores suscipit illo nihil molestiae quas adipisci delectus facere odit hic placeat aut eius, quo atque eaque magni, iste iusto voluptate.</p>
      </div>
    </div>
  </div>

  <div class="item">
    <img src="https://placeimg.com/640/480/rando" alt="" class="bg_img" />
    <div class="text_wrapper">
      <div class="text_position text_position-right">
        <h2 class="item--title item--title-right">Item Title</h2>
        <p class="item--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores suscipit illo nihil molestiae quas adipisci delectus facere odit hic placeat aut eius, quo atque eaque magni, iste iusto voluptate.</p>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <div class="item item-2-3">
    <img src="https://placeimg.com/640/480/cba" alt="" class="bg_img" />
    <div class="text_wrapper">
      <div class="text_position">
        <h2 class="item--title">Item Title</h2>
        <p class="item--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores suscipit illo nihil molestiae quas adipisci delectus facere odit hic placeat aut eius, quo atque eaque magni, iste iusto voluptate.</p>
      </div>
    </div>
  </div>

  <div class="item item-1-3">
    <img src="https://placeimg.com/640/480/abc" alt="" class="bg_img" />
    <div class="text_wrapper">
      <div class="text_position text_position-1-3">
        <h2 class="item--title">Item Title</h2>
        <p class="item--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores suscipit illo nihil molestiae quas adipisci delectus facere odit hic placeat aut eius, quo atque eaque magni, iste iusto voluptate.</p>
      </div>
    </div>
  </div>

  <div class="item item-1-3">
    <img src="https://placeimg.com/640/480/abcd" alt="" class="bg_img" />
    <div class="text_wrapper">
      <div class="text_position text_position-1-3">
        <h2 class="item--title">Item Title</h2>
        <p class="item--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores suscipit illo nihil molestiae quas adipisci delectus facere odit hic placeat aut eius, quo atque eaque magni, iste iusto voluptate.</p>
      </div>
    </div>
  </div>

  <div class="item item-2-3">
    <img src="https://placeimg.com/640/480/dcba" alt="" class="bg_img" />
    <div class="text_wrapper">
      <div class="text_position">
        <h2 class="item--title">Item Title</h2>
        <p class="item--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores suscipit illo nihil molestiae quas adipisci delectus facere odit hic placeat aut eius, quo atque eaque magni, iste iusto voluptate.</p>
      </div>
    </div>
  </div> -->
</div>
