<div class="container">
  <div class="item">
    <img src="https://placeimg.com/640/480/any" alt="" class="bg_img" />
    <div class="text_wrapper">
      <div class="text_position">
        <h2 class="item--title">Item Title</h2>
        <p class="item--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio maiores suscipit illo
          nihil molestiae quas adipisci delectus facere odit hic placeat aut eius, quo atque eaque magni, iste iusto
          voluptate.</p>
      </div>
    </div>
  </div>
</div>