<div class="col-8">
    <h2 class="item--title">About</h2>
    <p class="item--about">El Mawardy jewelry is a privately-owned family-centric business
      run by the three Mawardy brothers
      The journey began the in in a small shop in
      Khan el Khalili, centered in the heart of all that is art in Cairo. The
      shop started off creating custom perfumes for tourists
      visiting from all around the world and a variety of antiquities and
      then later expanded into the jewelry business
      1930s. <br>
      Upon graduating from university, the brothers inherited the
      workshop in Khan el Khalili along with of gold and
      silver, where they were left on their own to run the business as they see fit. <br>
      At the beginning of their journey, the Mawardy brothers travelled
      to Italy to learn more about jewelry and all of its components
      They started off as a retailer, buying Italian designs and selling
      them in Egypt. Thereafter, upon learning everything they
      needed to know about jewelry, they opened their first factory in
      the 90s, where they manufactured their own designs.</p>
  </div>
